<header>
    <div class="wrapper"><span>Plenary</span>
        <nav class="main-nav">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/oumayma-habouri-21788711b/">LinkedIn</a></li>
                <li>oumayma.habouri@gmail.com</li>
                <li>+216 27 749 998</li>
            </ul>
        </nav>
    </div>
</header>
<section class="flex-container">
    <section class="flex" id="weatherDeatils">
        <app-current-weather></app-current-weather>
    </section>
    <section class="flex" id="springaApp">
        <app-multiplication></app-multiplication>
    </section>

</section>




<router-outlet></router-outlet>